*{
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: #0300A5;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
    display: flex;
    width: 100%;
    align-items: center;
}

.cabecalho-lista-item{
 display:inline-block;
 margin: 0 16px;
 font-size: 30px;
}

.quem-sou-eu{
    background-image: linear-gradient(#0300A5,#0B0A4A);
    width: 2000px;
    height: 2048px;
}

.quem-sou-eu-texto1{
    color: white;
    width: 400px;
    height: 700px;
    font-size: 27px;
}

.quem-sou-eu-imagem{
    width: 15%;
    width: 415px;
    height: 473px;
}

.sobre-mim-texto1{
    color: white;
    width: 580px;
    height: 575px;
    font-size: 27px;
    
}

.sobre-mim-texto2{
    color: white;
    width: 580px;
    height: 575px;
    font-size: 27px;
}
.sobre-mim-texto3{
    color: white;
    width: 580px;
    height: 575px;
    font-size: 27px;    
}